[Desktop Entry]
Type=Application
Name=Nightswitch
GenericName=Theme Switcher
Comment=Manage night mode and theme switching in Linux desktop environments
Exec=nightswitch --minimized
Icon=me.pygillier.Nightswitch
Terminal=false
NoDisplay=false
StartupNotify=true
Categories=Utility;Settings;DesktopSettings;
Keywords=theme;dark;light;night;mode;switch;
X-GNOME-Autostart-Phase=Applications
X-GNOME-AutoRestart=true
X-GNOME-UsesNotifications=true
X-GNOME-Autostart-enabled=true